.main-p {
    color: $color-2;
    text-align: center;
    padding: 300px 0px 300px 0px;
    
    h2 {

        span {
            display: inline-block;
            animation: titulo 2s ease-in-out infinite;
        }

    }
}

    @keyframes titulo {
        0% {
            translate: (-30%, 0%);
        }

        50% {
            text-shadow: 2px 2px 4px #000000;
        }

        100% {
            transform: translate(0%, 30%);
        }
    }


    .comprar {
        font-size: $font-z1;
        padding: 200px 0px 500px 0px;
        color: $color-1;
        text-align: center;
    }

    .comprar2 {
        font-size: 25px;
        padding: 200px 0px 500px 0px;
        color: white;
        text-align: center;

        .col-sm {
            width: 650px !important;
            height: 400px !important;

        }
    }


