

$color-1: white;

$color-2: #f0a3ffe5;

$font-z1: 24px;

$enlaces:(
instagram: #cf1597,
facebook: #4343cc,
);

@each $enlaces, $color in $enlaces{
    .red-#{$enlaces} {
        color: $color;
    }
}

@mixin img {
    box-shadow: 5px 5px 5px 5px;
}

@mixin foot{
    font-size: 15px;
    padding: 10px;
    color: white;
}
